<section class="u-clearfix u-section-2" id="sec-d24b">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-container-style u-product u-product-1">
        <div class="u-container-layout u-container-layout-1">
          <img src="{{productDetails.productImg}} "alt="" class="u-expanded-width u-image u-image-default u-product-control u-image-1">
          <h2 class="u-custom-font u-font-merriweather u-product-control u-text u-text-default u-text-1">{{ productDetails.name}}
          </h2>
          <div class="u-product-control u-product-price u-product-price-1">
            <div class="u-price-wrapper u-spacing-10">
              <div class="u-hide-price u-old-price" style="text-decoration: line-through !important;"></div>
              <div class="u-price" style="font-size: 1.25rem; font-weight: 700;"></div>
            </div>
          </div>
          
          <div class="u-product-control u-product-desc u-text u-text-default u-text-grey-40 u-text-2">{{productDetails.description}}</div>
          <br>
          <div class="btn price" ><span class="bd">Price/Person :</span> {{ productDetails.price | currency:'INR'}}</div>
          <button type="button" class="btn btn-outline-danger pos" (click)="openModal()"> Interested ({{Count}})</button>   
<ng-container >
<div class="container">
<div class="card-table">
<div class="cart-product">
<table class="table table-responsive">
<thead>
<tr>
<th>Sr.No</th>
<th>Name</th>
<th>Remove</th>
</tr>
</thead>
<tbody *ngFor="let item of Name , let i= index">
<tr >
<td>{{item.nameId}}</td>
<td>{{item.Name}}</td>



<td>
<button  class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
</td>                
                </tbody>
            </table>
        </div>
    </div>
</div>

</ng-container>




  
  
 