<nav class="navbar navbar-expand-lg " style="background-color:rgb(188, 211, 212)">
    <div class="container-fluid">
      <a class="navbar-brand" href=""><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Harman_International_logo.svg/1200px-Harman_International_logo.svg.png" alt="" style="width: 100px;
    "></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/feeds">Feeds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/products">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/products">GOC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/products">Contacts</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  