<div class="container-fluid ">
  <div class="row m-3 gx-5">
    <div class="col-8 me-5">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/images/1.jpg" width="900" height="403" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/2.jpg" width="900" height="403" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/3.jpg" width="900" height="403" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-3 text-center"> <h4>Events List</h4>
      <div class="card text-center" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item "><a href="#">trip</a></li>
          <li class="list-group-item"><a href="#">link2</a></li>
          <li class="list-group-item"><a href="#">link3</a></li>
          <li class="list-group-item"><a href="#">link4</a></li>
          <li class="list-group-item"><a href="#">link5</a></li>
          <li class="list-group-item"><a href="#">link6</a></li>
        </ul>
        
      </div>


    </div>
  </div>

  <div class="row cont-row">
    <div class="card text-center border-0">
      <div class="card-body">
        <h1 class="card-title">Explore More Feeds</h1>
        <p class="card-text">Have a glance on the memories of previous events.</p>
      </div>
    </div>
  </div>

  <div class="row cont-row">
    <div class="col-4">
      <div class="card mb-3 border-0">
        <img src="./assets/images/4.jpg" class="card-img-top img" alt="...">
        <div class="card-body">
          <h5 class="card-title">poland</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id voluptate modi sed
            laboriosam? Esse dolor odio facere facilis obcaecati!.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card mb-3 border-0">
        <img src="./assets/images/7.jpg" class="card-img-top img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Auli</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, harum laudantium
            nobis sit omnis rem quisquam.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card mb-3 border-0">
        <img src="./assets/images/6.jpg" class="card-img-top img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Germany</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex tempore reprehenderit eius,
            vero sint inventore nesciunt debitis?</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row cont-row">
    <div class="col-4">
      <div class="card mb-3 border-0">
        <img src="./assets/images/8.jpg" class="card-img-top img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Denmark</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id voluptate modi sed
            laboriosam? Esse dolor odio facere facilis obcaecati!.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card mb-3 border-0">
        <img src="./assets/images/13.jpg" class="card-img-top img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Agra</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, harum laudantium
            nobis sit omnis rem quisquam.lorem ipsum sit dsgf vghuji gijk</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card mb-3 border-0">
        <img src="./assets/images/12.jpg" class="card-img-top img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Singapore</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex tempore reprehenderit eius,
            vero sint inventore nesciunt debitis?</p>
        </div>
      </div>
    </div>
  </div>

</div>