<navbar></navbar>
<router-outlet ></router-outlet>
<df-messenger
  intent="WELCOME"
  chat-title="eventchat"
  agent-id="c23115a3-b4cc-4d16-ae17-64c84c23077e"
  chat-icon="https://cdn-icons-png.flaticon.com/128/5659/5659696.png"
  language-code="en"
></df-messenger>
<style>
    df-messenger {
     --df-messenger-bot-message: #878fac;
     --df-messenger-button-titlebar-color: #3e79e7;
     --df-messenger-chat-background-color: #fafafa;
     --df-messenger-font-color: white;
     --df-messenger-send-icon: #878fac;
     --df-messenger-user-message: #324bc7;
    }
  </style>
<footer></footer>
