<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="save(form.value)">
    <div class="container-fluid">
      <div class="row">

        <div class="col-6">
          <div class="form-group">
            <label for="firstname" class="form-label">First name</label>
            <input type="text" formControlName="firstname" id="firstname" class="form-control"
              [ngClass]="{ 'is-invalid': Form['firstname'].errors && Form['firstname'].touched }">

            <div class="validation-error mt-0" *ngIf=" Form['firstname'].touched && Form['firstname'].invalid">
              <div *ngIf="Form['firstname'].errors?.['required']">Firstname is required</div>
              <div *ngIf="Form['firstname'].errors?.['minlength']">Firstname should be of minlength</div>
              <div *ngIf="Form['firstname'].errors?.['cannotContainSpace']">Firstname cannot contain space</div>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label for="lastname" class="form-label">Last name</label>
            <input formControlName="lastname" id="lastname" type="text" class="form-control">
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-6">
          <div class="form-group mt-2">
            <label for="email" class="form-label">Email</label>
            <input formControlName="email" id="email" type="email" class="form-control"
              [ngClass]="{ 'is-invalid': Form['email'].errors && Form['email'].touched }">

            <div class="mt-0 validation-error" *ngIf=" Form['email'].touched && Form['email'].invalid">
              <div *ngIf="Form['email'].errors?.['required']">Email is required</div>
              <div *ngIf="Form['email'].errors?.['email']">Email address is invalid</div>
              <div *ngIf="Form['email'].errors?.['cannotContainSpace']">email cannot contain space</div>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class=" mt-2 form-group">
            <label for="date" class="form-label">Date</label>
            <input type="date" formControlName="date" id="date" class="form-control"
              [ngClass]="{ 'is-invalid': Form['date'].errors && Form['date'].touched }">

            <div class="validation-error mt-0" *ngIf=" Form['date'].touched && Form['date'].invalid">
              <div *ngIf="Form['date'].errors?.['required']">Date is required</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mt-2 form-group">
          <label for="review" class="form-label">Review</label>
          <textarea formControlName="review" id="review" class="form-control" cols="25" rows="4"
            [ngClass]="{ 'is-invalid': Form['review'].errors && Form['review'].touched }"></textarea>

          <div class="validation-error mt-0" *ngIf=" Form['review'].touched && Form['review'].invalid">
            <div *ngIf="Form['review'].errors?.['required']">Please write your valueable reviews here</div>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="mb-1 form-group">
          <ngb-rating [max]="5" [(rate)]="currentRating" formControlName="rating" id="rating" class="form-control border-0 ">
            <ng-template let-fill="fill">
              <span class="star" [ngClass]="'color'+currentRating" [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
        </div>
      </div>

    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">
    Close
  </button>
  <button type="submit" [class.disabled]="!form.valid" class="btn btn-primary" (click)="save(form.value)">Save
    changes</button>

</div>